.analogie{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    margin-left: 26px;
}
.analogie .R{
    margin-left: 62px;
    margin-right: 134px;
    margin-bottom: 52px;
    align-items: center;
}
.tension{
   width: 50%;
   height: auto;
   margin-left: 32.5%;
   margin-bottom: 25px;
}
.component input{
    width: 100px;
    border-radius: 12px;
    height: 42px;
}
.component{
    margin-top: -10%;
    margin-right: 16%;
}
.contenue{
    text-align: center;
    margin-top: 22px;
    font-size: 18px;
}